/* Fichier créé par
   David Cobac
   Dépôt GIT : https://github.com/cobacdavid
   Nom du projet : pageAccueil
   Online test : http://cobac.free.fr/
   License : CC--BY-NC-SA
   sauf code snippet venant de stackoverflow dans page.js
   sur la lecture d'un fichier JSON
   Idée de départ par
   https://github.com/OneGuyy
*/

:root {
    --couleurFond: black;
    --dureeAnimation: .2s;
    --rotationElement: 0deg;
    --zoomIcone: 1;
    --transparenceLogo: 0.8;
    font-family: Inconsolata;
    font-size: 40px;
}

/* fond général */
body {
    background-color: var(--couleurFond);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

.conteneurRecherche {
    padding: 50px;
}

#barreRecherche {
    width: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: black;
    background-color: darkgray;/* var(--couleurFond); */
    opacity: .4;
    text-align: center;
    border: 0pt;
}

.submitRecherche {
    display: none;
}

.conteneurGeneralIcones {
    width: 100%;
    height: 100%;
    margin-top: 3%;
}

/* la disposition générale (un div)*/
.conteneurLigne {
    width: 85%;
    /* le contenu sera flexible */
    display: flex;
    /* centrage horizontal du div sur la page */ 
    margin: 0 auto;
}

/* les cellules du conteneur général sont aussi des conteneurs div */ 
.conteneur {
    /* background-color: var(--couleurFond); */
    /* obéit à la règle flex du conteneur global */
    flex: 1;
    padding: 10px;
    /* solid var(--couleurFond); */
}

/* les liens dans les cellules */
.lien {
    /* pas de rectangle en pointillés entourant
       habituellement les liens
   */
    outline: 0;
}

/* les images */
.logo {
    /* on remplit le conteneur
       pour le height, ça permet d'être centré verticalement
       éventuellement ajouter un :
       vertical-align: middle;     
   */
    /*width: 90%;
    height: 90%;*/
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    /* pour l'effet visuel */
    transition: var(--dureeAnimation) ease;
    opacity: var(--transparenceLogo);
    filter: grayscale(90%);
}


/* interaction passage au-dessus avec l'image */
.logo:hover {
    filter: grayscale(0%);
    transform: scale(var(--zoomIcone)) rotate(var(--rotationElement)); 
}
